<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário de Cadastro de Notícia</title>
</head>
<body>
	<h1>Adicionar Notícia</h1>
	<br/>
	<form action="/noticias/salvar" method="POST">
		<label>Título</label>
		<input type="text" id="titulo" name="titulo" placeholder="Título da Notícia">
		<br/>
		<label>Resumo</label>
		<input type="text" id="resumo" name="resumo" placeholder="Resumo da Notícia">
		<br/>
		<label>Nome autor</label>
		<input type="text" id="autor" name="autor" placeholder="Autor da Notícia">
		<br/>
		<label>Data dos fatos</label>
		<input type="date" id="data_noticia" name="data_noticia" placeholder="Data da notícia">
		<br/>
		<label>Notícia</label>
		<textarea type="text" id="noticia" name="noticia" rows="5" cols="30" placeholder="escreva a notícia"></textarea>
		<br/>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>